---
const { data } = Astro.props;
---

<article>
  <img src={data.image} alt=`Image of ${data.product}` />
  <h3>{data.name}</h3>
  <p>{data.pris} kr</p>
  <p><a href=`/products/${data.slug}`>Learn more</a></p>
</article>

<style>
  article {
    width: 500px;
    padding-bottom: 1rem;
  }
</style>
